*{
    font-family: system-ui;
  }
  img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;    
  }
  
  .bloco{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 400px;
    height: 600px;
    border-radius: 10px;
    max-width: 600px;
    box-shadow: 10px black;
    padding: 30px;
  }
  
  .name {
   margin: 15px;
  }
  
  .bio {
    margin: 10px;
  }
  .contact {
    margin: 10px;
  }
  
  .email {
    margin: 10px;
  }
  
  a{
    text-decoration: none;
    color: white;
    background-color: transparent;
    font-weight: 800;
  }
  
  
  
  button{
    width: 150px;
    height: 40px;
    border-radius: 10px;
    margin-bottom: 5px;
    margin: 10px;
    transition: .3s;
    color: white;
    border: none;
    background: linear-gradient(#297BC2,#3588C8, #6DC4E3);
  }
  
  button:hover{
    background-color: rgb(131, 126, 126);
    cursor: pointer;
    transform: scale(1.04);
  }
  hr {
    width: 550px;
    border: none;
    border-top: 2px solid #428CD1; 
    margin: 1px 0; 
  }